.input {
  background: transparent;
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  color: var(--text-default);
  border: 0.4px solid transparent;
  border-bottom: 0.4px solid var(--primary-light);
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border: 0.4px solid var(--primary-light);
  border-radius: 0.8rem;
}

.input:disabled {
  border-bottom: 0.4px solid var(--disabled);
  color: var(--text-muted);
}
