.button {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22rem;
  padding: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  margin: 3rem 0;
  transition: 0.2s all ease-in-out;
}

.button:hover {
  filter: brightness(0.8);
}

.button svg {
  height: 3.2rem;
  width: 3.2rem;
}

.default {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-default);
}
